body{
    background-color: black;
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url(./Images/backgroundEstrelas.png) ;  
    background-size: 100%;
      background-repeat: no-repeat;  
      background-position-y: 0%;
      background-position-x:center ;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
}

#barra{
    left:0%;
    top:0%;
    z-index: 5;
    position:absolute;
    height: 100%;
    background-color: rgb(1, 1, 113);
}

#progresso{
  width: 10px;
  height: 100%;
  background-color: gray;
}

h1{
   padding-top: 20%;
   font-size: 5vw;
    font-family: "Sixtyfour Convergence", sans-serif;
}

img{
    /* height: 70px; */
    position: absolute;
}

.comeca{
    font-size: 2vw ;
    position: absolute;
    left: 40%;
    top:50%;
    /* mudei aqui */
    height: 7vh;
    /* mudei aqui */
    width: 20vw;
    font-family: "Bungee Spice", sans-serif;
    background-color: rgb(0, 0, 121);
}

.reinicia{
    background-color: rgb(0, 0, 121);
    font-family: "Bungee Spice", sans-serif;
    height: 10vh;
    font-size: 4vw;
}

#asteroide{

}

#asteroide2{
    left:70px;
    opacity: 0;
}

#asteroide3{
    left: 300px;
    opacity: 0;
}

#asteroide4{
    left:500px;
    opacity: 0;
}

#asteroide5{
    left:894px;
    opacity: 0;
}

#asteroide6{
    left:1200px;
    opacity: 0;
}

#asteroide7{
    left:1450px;
    opacity: 0;
}

#asteroide8{
    left:1800px;
    opacity: 0;
}

#asteroide9{
    left:2000px;
    opacity: 0;
}

#asteroide10{
    left:2200px;
    opacity: 0;
}

#asteroide11{
    left:2400px;
    opacity: 0;
}

#asteroide12{
    left:2600px;
    opacity: 0;
}

#asteroide13{
    left:2800px;
    opacity: 0;
}

#nave{
    width:80px;
    left:50%;
    top:90%;
}

#yA1{
    position: fixed;

}

#naveBarra{
    height: 40px;
    width:35px;
    left:0%;
}
